* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* -moz-user-select: none;
  user-select: none; */
  cursor: default;
}

body {
  background-color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.88);

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  cursor: inherit;
}

#home-shortcut {
  position: absolute;
  top: 0;
}

#what-we-do-shortcut {
  position: absolute;
  top: 680px;
}

#testimonial-shortcut {
  position: absolute;
  top: 2005px;
}

#contact-us-shortcut {
  position: absolute;
  bottom: -10000px;
}

#work-with-us-shortcut {
  position: absolute;
  top: 2844px;
}

.hidden {
  display: none;
}

.section-header-main {
  position: absolute;
  top: 40.9px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 20.5pt;
}

.section-header-accent-main {
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;

  width: 43px;
  height: 2px;
  margin: auto;
}

.section-header-sub-main {
  position: absolute;
  top: 93px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Open Sans";
  font-size: 16px;
}


/* -------------------------- SECTION 1 CONTAINER -------------------------- */
#section-1-background {
  position: absolute;
  left: 50%;

  margin: auto;

  transform: translateX(-50%);
}

#navbar {
  position: absolute;
  z-index: 15;
  left: 0;
  right: 0;

  width: 1170px;
  height: 38px;
  margin: auto;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.0));
}

ul {
  list-style: none;
}

#navigation-menu {
  position: absolute;
  display: inline;
  z-index: 25;
  left: 0;

  width: 400px;
  height: 38px;
}

.nav-menu-item {
  position: absolute;
  z-index: 24;
  top: 10px;

  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

#menu-home {
  left: 30px;
}

#menu-what-we-do {
  left: 95px;
}

#menu-testimonial {
  left: 205px;
}

#menu-contact {
  left: 305px;
}

#selection-home {
  position: absolute;
  z-index: 16;
  left: 30px;

  width: 42px;
  height: 5px;

  background-color: #54d154;
}

#selection-what-we-do {
  position: absolute;
  z-index: 16;
  left: 95px;

  width: 90px;
  height: 5px;

  background-color: #54d154;
}

#selection-testimonial {
  position: absolute;
  z-index: 16;
  left: 205px;

  width: 80px;
  height: 5px;

  background-color: #54d154;
}

#selection-contact {
  position: absolute;
  z-index: 16;
  left: 305px;

  width: 78px;
  height: 5px;

  background-color: #54d154;
}

#switch-logo {
  position: absolute;
  z-index: 17;
  top: 8px;
  left: 0;
  right: 0;

  text-align: center;
  line-height: 1.2;
  font-family: "Nautilus Pompilius";
  font-size: 24px;
  color: rgb(255, 255, 255);
}

#searchbar {
  -webkit-appearance: none;

  position: absolute;
  z-index: 19;
  top: 5px;
  left: 963px;

  width: 177px;
  height: 27px;
  padding-left: 12px;
  padding-right: 30px;

  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(17, 17, 17);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540317166/nsm-art-landing/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 155px 6px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: text;
}

#section-1-header {
  position: absolute;
  z-index: 9;
  top: 266px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 55px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#section-1-button-header {
  -webkit-appearance: none;

  position: absolute;
  z-index: 11;
  top: 359px;
  left: 0;
  right: 0;

  width: 208px;
  height: 47px;
  margin: auto;

  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 22px;
  font-weight: lighter;
  color: rgb(255, 255, 255);

  background-color: #54d154;
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}

#section-1-button-scroll {
  -webkit-appearance: none;

  position: absolute;
  z-index: 8;
  top: 622px;
  left: 0;
  right:0;

  width: 120px;
  height: 25px;
  margin: auto;
  padding-left: 12px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(17, 17, 17);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540319535/nsm-art-landing/scroll-arrow.png");
  background-repeat: no-repeat;
  background-position: 100px 8px;
  background-color: rgba(255, 255, 255, 0.702);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 2 CONTAINER -------------------------- */
#section-2-container {
  position: absolute;
  z-index: 29;
  top: 659px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 577px;
  margin: auto;

  background-color: rgb(255, 255, 255);
}

#section-2-header {
  z-index: 31;

  color: rgb(130, 129, 129);
}

#section-2-header-accent {
  z-index: 32;

  background-color: #828181;
}

#section-2-header-sub {
  z-index: 34;

  color: rgb(183, 179, 179);
}

.section-2-thumbnail {
  position: absolute;
  top: 181px;
  z-index: 37;

  width: 142px;
  height: 142px;

  background-color: #e1f3e1;
  border-radius: 30px;
}

#section-2-thumbnail-left {
  left: 129px;
}

#section-2-thumbnail-mid {
  left: 0;
  right: 0;

  margin: auto;
}

#section-2-thumbnail-right {
  left: 889px;
}

.thumbnail-img {
  position: absolute;
  z-index: 38;
  top: 215px;

  width: 87px;
  height: 74px;
}

#thumbnail-left-camera {
  left: 157px;
}

#thumbnail-left-meter {
  left: 541px;
}

#thumbnail-left-toolbox {
  left: 915px;
}

.thumbnail-header {
  position: absolute;
  z-index: 36;
  top: 343.546px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: bold;
  color: rgb(130, 129, 129);
}

#thumbnail-left-header {
  left: 129.937px;
}

#thumbnail-mid-header {
  left: 509.937px;
}

#thumbnail-right-header {
  left: 888.937px;
}

.thumbnail-body {
  position: absolute;
  z-index: 39;
  top: 388.313px;

  width: 271px;
  height: 69px;

  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 15px;
  color: rgb(130, 129, 129);
}

#thumbnail-left-body {
  left: 57.612px;
}

#thumbnail-mid-body {
  left: 437.612px;
}

#thumbnail-right-body {
  left: 816.612px;
}

.thumbnail-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 41;
  top: 484px;

  width: 120px;
  height: 30px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(255, 255, 255);

  background-color: #54d154;
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}

#thumbnail-left-button {
  left: 138px;
}

#thumbnail-mid-button {
  left: 522px;
}

#thumbnail-right-button {
  left: 906px;
}


/* -------------------------- SECTION 3 CONTAINER -------------------------- */
#section-3-container {
  position: absolute;
  z-index: 67;
  top: 1236px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 748px;
  margin: auto;

  background-color: #54d154;
}

#section-3-header {
  z-index: 91;

  color: #207b20;
}

#section-3-header-accent {
  z-index: 92;

  background-color: #207b20;
}

#section-3-header-sub {
  z-index: 94;

  color: rgb(43, 155, 43);
}

#section-3-menu {
  position: absolute;
  z-index: 101;
  top: 167px;
  left: 445px;

  width: 281px;
  height: 35px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(43, 155, 43);
  border-radius: 30px;

  cursor: pointer;
}

#work-menu-photography-button {
  position: absolute;
  z-index: 102;
  top: -1px;
  left: -1px;

  width: 124px;
  height: 35px;

  background-color: rgb(43, 155, 43);
  border: 1px solid rgb(43, 155, 43);
  border-radius: 30px 0px 0px 30px;

  cursor: pointer;
}

#work-menu-design-button {
  position: absolute;
  z-index: 101;
  top: -1px;
  left: 123px;

  width: 88px;
  height: 35px;

  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(43, 155, 43);
  border-bottom: 1px solid rgb(43, 155, 43);

  cursor: pointer;
}

#work-menu-print-button {
  position: absolute;
  z-index: 102;
  top: -1px;
  right: -1px;

  width: 69px;
  height: 35px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(43, 155, 43);
  border-radius: 0px 30px 30px 0px;

  cursor: pointer;
}

.work-menu-item {
  position: absolute;
  z-index: 104;

  /* top: 176.135px; */
  top: 8px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;

  cursor: pointer;
}

#work-menu-photography {
  /* left: 460.937px; */
  left: 15px;

  color: rgb(255, 255, 255);
}

#work-menu-design {
  /* left: 588.937px; */
  left: 143px;

  color: rgb(43, 155, 43);
}

#work-menu-print {
  /* left: 675.937px; */
  left: 230px;

  color: rgb(43, 155, 43);
}

#work-ex-container {
  position: absolute;
  z-index: 69;
  top: 260px;
  left: 0;
  right: 0;

  width: 920px;
  height: auto;
  margin: auto;
}

.work-ex-row-top {
  position: absolute;
  z-index: 69;
  top: 0;

  width: 160px;
  height: 160px;

  cursor: pointer;
}

#work-ex-1 {
  left: 0;
}

#work-ex-2 {
  left: 191px;
}

#work-ex-3 {
  left: 380px;
}

#work-ex-4 {
  left: 570px;
}

#work-ex-5 {
  left: auto;
  right: 0;
}

.work-ex-row-bottom {
  position: absolute;
  z-index: 69;
  top: 189px;

  width: 160px;
  height: 160px;

  cursor: pointer;
}

#work-ex-6 {
  left: 0;
}

#work-ex-7 {
  left: 191px;
}

#work-ex-8 {
  left: 380px;
}

#work-ex-9 {
  left: 570px;
}

#work-ex-10 {
  left: auto;
  right: 0;
}

#view-more-work-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 96;
  top: 665px;
  left: 492px;

  width: 186px;
  height: 40px;
  padding-left: 20px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 18px;
  color: rgb(255, 255, 255);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540351393/nsm-art-landing/view-more-work-arrow.png");
  background-repeat: no-repeat;
  background-position: 155px 16px;
  background-color: rgb(43, 155, 43);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 4 CONTAINER -------------------------- */
#section-4-container {
  position: absolute;
  z-index: 110;
  top: 1984px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 342px;
  margin: auto;

  background-color: rgb(255, 255, 255);
}

#section-4-header {
  z-index: 112;

  color: rgb(130, 129, 129);
}

#section-4-header-accent {
  z-index: 113;

  background-color: rgb(130, 129, 129);
}

#section-4-header-sub {
  z-index: 115;

  color: rgb(183, 179, 179);
}

#testimonial-arrow-left {
  position: absolute;
  z-index: 10;
  top: 190px;
  left: 170px;

  cursor: pointer;
}

#testimonial-body {
  position: absolute;
  z-index: 116;
  top: 173.01px;
  left: 0;
  right: 0;

  width: 440px;
  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(68, 68, 68);
}

#testimonial-arrow-right {
  position: absolute;
  z-index: 10;
  top: 190px;
  right: 170px;

  cursor: pointer;
}

#testimonial-client-container {
  position: absolute;
  z-index: 118;
  top: 243px;
  left: 0;
  right: 0;

  width: 184px;
  height: auto;
  margin: auto;
}

#testimonial-client-photo {
  position: absolute;
  z-index: 120;
  top: 0;
  left: 0;
}

#testimonial-client-name {
  position: absolute;
  z-index: 118;
  top: 5px;
  left: 55px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(68, 68, 68);
}

#testimonial-client-title {
  position: absolute;
  z-index: 119;
  top: 25px;
  left: auto;
  right: 0;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(204, 204, 204);
}


/* -------------------------- SECTION 5 CONTAINER -------------------------- */
#section-5-container {
  position: absolute;
  z-index: 127;
  top: 2326px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 497px;
  margin: auto;

  background-color: rgb(242, 241, 241);
}

#section-5-header {
  z-index: 129;

  color: rgb(130, 129, 129);
}

#section-5-header-accent {
  z-index: 130;

  background-color: rgb(130, 129, 129);
}

#section-5-header-sub {
  z-index: 132;

  color: rgb(183, 179, 179);
}

#client-list-lg {
  position: absolute;
  z-index: 132;
  top: 170px;
  left: 0;
  right: 0;

  margin: auto;
}

#see-all-clients-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 134;
  top: 405px;
  left: 492px;

  width: 186px;
  height: 40px;
  padding-left: 30px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 18px;
  color: rgb(165, 157, 157);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540397963/nsm-art-landing/see-all-clients-arrow.png");
  background-repeat: no-repeat;
  background-position: 155px 16px;
  background-color: rgb(221, 220, 220);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 6 CONTAINER -------------------------- */
#section-6-container {
  position: absolute;
  z-index: 150;
  top: 2823px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 576px;
  margin: auto;

  background-color: #54d154;
}

#section-6-header {
  z-index: 153;

  color: rgb(32, 123, 32);
}

#section-6-header-accent {
  z-index: 154;

  background-color: rgb(32, 123, 32);
}

#section-6-header-sub {
  z-index: 216;

  color: rgb(43, 155, 43);
}

#team-pic-container {
  position: absolute;
  z-index: 155;
  top: 153px;
  left: 0;
  right: 0;

  width: 822px;
  height: auto;
  margin: auto;
}

.team-picture {
  position: absolute;
  z-index: 158;
  top: 0;

  width: 124px;
  height: 124px;
}

#team-pic-krisna {
  left: 0;
}

#team-pic-gabriel {
  left: 175px;
}

#team-pic-adik {
  left: 350px;
}

#team-pic-zan {
  left: 523px;
}

#team-pic-faizal {
  left: auto;
  right: 0;
}

.team-accent {
  position: absolute;
  z-index: 157;
  top: 134px;

  width: 2px;
  height: 77px;

  background-color: rgb(32, 123, 32);
}

#team-accent-krisna {
  left: 59px;
}

#team-accent-gabriel {
  left: 237px;
}

#team-accent-adik {
  left: 410px;
}

#team-accent-zan {
  left: 585px;
}

#team-accent-faizal {
  left: 758px;
}

.team-name {
  position: absolute;
  z-index: 160;
  top: 219.01px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(255, 255, 255);
}

#team-name-krisna {
  left: 12.938px;
}

#team-name-gabriel {
  left: 185.938px;
}

#team-name-adik {
  left: 370.937px;
}

#team-name-zan {
  left: 563.905px;
}

#team-name-faizal {
  left: 715.938px;
}

.team-social-container {
  position: absolute;
  z-index: 162;
  top: 248px;

  width: 84px;
  height: 28px;

  background-color: rgb(197, 233, 197);
  border-radius: 30px;
}

#social-container-krisna {
  left: 16px;
}

#social-container-gabriel {
  left: 196px;
}

#social-container-adik {
  left: 365px;
}

#social-container-zan {
  left: 548px;
}

#social-container-faizal {
  left: 713px;
}

.team-social-icon {
  position: absolute;
  z-index: 163;
  top: 252px;

  width: 20px;
  height: 20px;

  cursor: pointer;
}

.team-social-icon:hover {
  opacity: 0.6;
}

.team-social-icon:active {
  opacity: 1.0;
}

#dribbble-link-krisna {
  left: 21px;
}

#behance-link-krisna {
  left: 48px;
}

#twitter-link-krisna {
  left: 75px;
}

#dribbble-link-gabriel {
  left: 201px;
}

#behance-link-gabriel {
  left: 228px;
}

#twitter-link-gabriel {
  left: 255px;
}

#dribbble-link-adik {
  left: 370px;
}

#behance-link-adik {
  left: 397px;
}

#twitter-link-adik {
  left: 424px;
}

#dribbble-link-zan {
  left: 553px;
}

#behance-link-zan {
  left: 580px;
}

#twitter-link-zan {
  left: 607px;
}

#dribbble-link-faizal {
  left: 718px;
}

#behance-link-faizal {
  left: 745px;
}

#twitter-link-faizal {
  left: 772px;
}

#section-6-container-accent {
  position: absolute;
  z-index: 151;
  bottom: 0;
  left: 0;
  right: 0;

  width: 1170px;
  height: 94px;
  margin: auto;

  background-color: rgb(62, 186, 62);
}

#team-work-with-us-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 218;
  top: 509px;
  left: 498px;

  width: 175px;
  height: 40px;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 18px;
  color: rgb(255, 255, 255);

  background-color: #54d154;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 7 CONTAINER -------------------------- */
#section-7-container {
  position: absolute;
  z-index: 223;
  top: 3397px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 622px;
  margin: auto;

  background-color: rgb(51, 51, 51);
}

.section-7-header {
  position: absolute;
  z-index: 297;
  top: 27.523px;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(221, 221, 221);
}

.section-7-header-accent {
  position: absolute;
  z-index: 298;
  top: 53px;

  width: 30px;
  height: 2px;

  background-color: rgb(221, 221, 221);
}

#about-us-header {
  left: 150.525px;
}

#about-us-header-accent {
  left: 178px;
}

#about-us-body {
  position: absolute;
  z-index: 295;
  top: 76.735px;
  left: 32.106px;

  width: 314px;
  height: 226px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(204, 204, 204);
}

#about-us-social-container {
  position: absolute;
  z-index: 301;
  top: 334px;
  left: 152px;

  width: 84px;
  height: 28px;

  background-color: rgb(230, 231, 230);
  border-radius: 30px;
}

.about-us-social-icon {
  position: absolute;
  z-index: 302;
  top: 338px;

  width: 20px;
  height: 20px;

  cursor: pointer;
}

.about-us-social-icon:hover {
  opacity: 0.6;
}

.about-us-social-icon:active {
  opacity: 1.0;
}

#dribbble-link-about-us {
  left: 157px;
}

#facebook-link-about-us {
  left: 184px;
}

#twitter-link-about-us {
  left: 211px;
}

#recent-posts-header {
  left: 528.513px;
}

#recent-posts-header-accent {
  left: 576px;
}

.recent-posts-img {
  position: absolute;
  z-index: 230;
  left: 441px;

  width: 53px;
  height: 53px;

  cursor: pointer;
}

#recent-posts-img-1 {
  top: 73px;
}

#recent-posts-img-2 {
  top: 138px;
}

#recent-posts-img-3 {
  top: 202px;
}

#recent-posts-img-4 {
  top: 268px;
}

#recent-posts-img-5 {
  top: 332px;
}

.recent-posts-subhead {
  position: absolute;
  z-index: 232;
  left: 498.938px;

  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(204, 204, 204);

  cursor: pointer;
}

#recent-posts-subhead-1 {
  top: 75.863px;
}

#recent-posts-subhead-2 {
  top: 140.863px;
}

#recent-posts-subhead-3 {
  top: 204.863px;
}

#recent-posts-subhead-4 {
  top: 270.863px;
}

#recent-posts-subhead-5 {
  top: 334.863px;
}

.recent-posts-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 234;
  left: 501px;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 14px;
  color: rgb(255, 255, 255);

  border: 0;
  border-radius: 3px;
  outline: none;

  cursor: pointer;
}

#recent-posts-button-1 {
  top: 99px;

  width: 96px;
  height: 18px;

  background-color: rgb(84, 209, 84);
}

#recent-posts-button-2 {
  top: 164px;

  width: 92px;
  height: 18px;

  background-color: rgb(255, 186, 0);
}

#recent-posts-button-3 {
  top: 228px;

  width: 122px;
  height: 18px;

  background-color: rgb(8, 157, 234);
}

#recent-posts-button-4 {
  top: 294px;

  width: 62px;
  height: 18px;

  background-color: rgb(243, 77, 4);
}

#recent-posts-button-5 {
  top: 358px;

  width: 92px;
  height: 18px;

  background-color: rgb(255, 186, 0);
}

#contact-us-header {
  left: 931.545px;
}

#contact-us-header-accent {
  left: 969px;
}

#contact-info {
  position: absolute;
  z-index: 280;
  top: 69.001px;
  left: 873.926px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 14px;
  color: rgb(204, 204, 204);
}

#contact-email {
  cursor: pointer;
}

#contact-email:hover {
  opacity: 0.7;
}

.contact-us-user-info {
  -webkit-appearance: none;
  position: absolute;
  z-index: 282;
  left: 818px;

  width: 322px;
  height: 30px;
  padding-left: 14px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  color: rgb(119, 119, 119);
  font-size: 16px;

  background-color: rgb(68, 68, 68);
  border: none;
  border-radius: 4px;
  outline: none;

  cursor: text;
}

#contact-us-user-name {
  top: 178px;
}

#contact-us-user-email {
  top: 212px;
}

#contact-us-user-message {
  top: 246px;

  height: 128px;
  padding-top: 6px;

  resize: none;
}

#contact-us-user-submit {
  top: 378px;

  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(43, 155, 43);

  cursor: pointer;
}


/* -------------------------- SECTION 8 CONTAINER -------------------------- */
#section-8-container {
  position: absolute;
  z-index: 309;
  top: 3836px;
  left: 0;
  right: 0;

  width: 1171px;
  height: 148px;
  margin: auto;

  background-color: rgb(34, 34, 34);
}

#section-8-header {
  position: absolute;
  z-index: 315;
  top: 22.523px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(16, 16, 16);
}

#section-8-header-accent {
  position: absolute;
  z-index: 316;
  top: 48px;
  left: 0;
  right: 0;

  width: 30px;
  height: 2px;
  margin: auto;

  background-color: rgb(16, 16, 16);
}

#as-seen-on-container {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;

  width: 990px;
  height: auto;
  margin: auto;
}

.as-seen-on-img {
  position: absolute;
  z-index: 320;
  top: 0;

}

#as-seen-on-cnn {
  left: 0;
}

#as-seen-on-tech-crunch {
  left: 200px;
}

#as-seen-on-bbc {
  left: 400px;
}

#as-seen-on-ny-times {
  left: auto;
  right: 0;
}

#section-8-container-accent {
  position: absolute;
  z-index: 320;
  top: 3984px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 35px;
  margin: auto;

  background-color: rgb(17, 17, 17);
}





/* -------------------------- MEDIA QUERY <= 1180 -------------------------- */
@media screen and (max-width: 1180px) {
/* ------------------ SECTION 1 QUERY ------------------ */
 #section-1-container {
   width: 100%;

   overflow-x: hidden;
 }

  #navbar {
    width: 100%;
  }

  #searchbar {
    left: auto;
    right: 26px;
  }


/* ------------------ SECTION 2 QUERY ------------------ */
  #section-2-container {
    width: 100%;
  }

  #section-2-thumbnail-container-left {
    position: absolute;
    top: 181px;
    left: 43px;
    right: auto;

    width: 300px;
    height: auto;

    text-align: center;
  }

  #section-2-thumbnail-container-mid {
    position: absolute;
    top: 181px;
    left: 0;
    right: 0;

    width: 300px;
    height: auto;
    margin: auto;

    text-align: center;
  }

  #section-2-thumbnail-container-right {
    position: absolute;
    top: 181px;
    left: auto;
    right: 43px;

    width: 300px;
    height: auto;

    text-align: center;
  }

  .section-2-thumbnail {
    top: 0;
    left: 0 !important;
    right: 0!important;

    margin: auto !important;
  }

  .thumbnail-img {
    top: 34px;
    left: 0 !important;
    right: 0!important;

    margin: auto !important;
  }

  .thumbnail-header {
    top: 162.546px;
    left: 0 !important;
    right: 0!important;

    margin: auto !important;
  }

  .thumbnail-body {
    top: 207.313px;
    left: 0 !important;
    right: 0!important;

    margin: auto !important;
  }

  .thumbnail-button {
    top: 303px;
    left: 0 !important;
    right: 0!important;

    margin: auto !important;
  }


/* ------------------ SECTION 3 QUERY ------------------ */
  #section-3-container {
    width: 100%;
  }

  #section-3-menu {
    left: 0;
    right: 0;

    margin: auto;
  }

  #view-more-work-button {
    left: 0;
    right: 0;

    margin: auto;
  }


/* ------------------ SECTION 4 QUERY ------------------ */
  #section-4-container {
    width: 100%;
  }


/* ------------------ SECTION 5 QUERY ------------------ */
  #section-5-container {
    width: 100%;
  }

  #see-all-clients-button {
    left: 0;
    right: 0;

    margin: auto;
  }


/* ------------------ SECTION 6 QUERY ------------------ */
  #section-6-container {
    width: 100%;
  }

  #team-work-with-us-button {
    left: 0;
    right: 0;

    margin: auto;
  }

  #section-6-container-accent {
    width: 100%;
  }


/* ------------------ SECTION 7 QUERY ------------------ */
  #section-7-container {
    width: 100%;
  }

  .section-7-header {
    top: 0;
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }

  .section-7-header-accent {
    top: 25.477px;
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;;
  }

  #section-7-about-us-container {
    position: absolute;
    top: 27.523px;
    left: 28px;
    right: auto;

    width: 330px;
    height: auto;

    text-align: center;
  }

  #about-us-body {
    top: 49.212px;
    left: 0;
    right: 0;

    margin: auto;
  }

  #about-us-social-container {
    top: 306.477px;
    left: 0;
    right: 0;

    margin: auto;
  }

  .about-us-social-icon {
    top: 310.477px;
  }

  #dribbble-link-about-us {
    left: 128px;
  }

  #facebook-link-about-us {
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }

  #twitter-link-about-us {
    left: 182px;
  }

  #section-7-recent-posts-container {
    position: absolute;
    top: 27.523px;
    left: 0;
    right: 0;

    width: 330px;
    height: auto;
    margin: auto;

    text-align: center;
  }

  .recent-posts-img {
    left: 24px;
  }

  #recent-posts-img-1 {
    top: 45.477px;
  }

  #recent-posts-img-2 {
    top: 110.477px;
  }

  #recent-posts-img-3 {
    top: 174.477px;
  }

  #recent-posts-img-4 {
    top: 240.477px;
  }

  #recent-posts-img-5 {
    top: 304.477px;
  }

  .recent-posts-subhead {
    left: 81.938px;
  }

  #recent-posts-subhead-1 {
    top: 48.34px;
  }

  #recent-posts-subhead-2 {
    top: 113.34px;
  }

  #recent-posts-subhead-3 {
    top: 177.34px;
  }

  #recent-posts-subhead-4 {
    top: 243.34px;
  }

  #recent-posts-subhead-5 {
    top: 307.43px;
  }

  .recent-posts-button {
    left: 84px;
  }

  #recent-posts-button-1 {
    top: 71.477px;
  }

  #recent-posts-button-2 {
    top: 136.477px;
  }

  #recent-posts-button-3 {
    top: 200.477px;
  }

  #recent-posts-button-4 {
    top: 266.477px;
  }

  #recent-posts-button-5 {
    top: 330.477px;
  }

  #section-7-contact-us-container {
    position: absolute;
    top: 27.523px;
    left: auto;
    right: 28px;

    width: 330px;
    height: auto;

    text-align: center;

    /* border: 1px solid white; */
  }

  #contact-info {
    top: 41.478px;
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }

  .contact-us-user-info {
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }

  #contact-us-user-name {
    top: 150.477px;
  }

  #contact-us-user-email {
    top: 184.477px;
  }

  #contact-us-user-message {
    top: 218.477px;
  }

  #contact-us-user-submit {
    top: 350.477px;
  }


/* ------------------ SECTION 8 QUERY ------------------ */
  #section-8-container {
    width: 100%;
  }

  #section-8-container-accent {
    width: 100%;
  }
}





/* -------------------------- MEDIA QUERY <= 1045 -------------------------- */
@media screen and (max-width: 1045px) {
/* ------------------ SECTION 1 QUERY ------------------ */
  #navbar {
    width: 100%;
  }

  #searchbar {
    left: auto;
    right: 26px;
  }


/* ------------------ SECTION 2 QUERY ------------------ */
  #section-2-container {
    width: 100%;
    height: 1377px;
  }

  #section-2-thumbnail-container-left {
    top: 181px;
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }

  #section-2-thumbnail-container-mid {
    top: 581px;
  }

  #section-2-thumbnail-container-right {
    top: 981px;
    left: 0 !important;
    right: 0 !important;

    margin: auto !important;
  }


/* ------------------ SECTION 3 QUERY ------------------ */
  #section-3-container {
    top: 2036px;

    width: 100%;
    height: 1328px;
  }

  #work-ex-container {
    top: 260px;

    width: 350px;
  }

  #work-ex-1 {
    left: 0;
  }

  #work-ex-2 {
    left: auto;
    right: 0;
  }

  #work-ex-3 {
    top: 190px;
    left: 0;
  }

  #work-ex-4 {
    top: 190px;
    left: auto;
    right: 0;
  }

  #work-ex-5 {
    top: 380px;
    left: 0;
  }

  #work-ex-6 {
    top: 380px;
    left: auto;
    right: 0;
  }

  #work-ex-7 {
    top: 570px;
    left: 0;
  }

  #work-ex-8 {
    top: 570px;
    left: auto;
    right: 0;
  }

  #work-ex-9 {
    top: 760px;
    left: 0;
  }

  #work-ex-10 {
    top: 760px;
    left: auto;
    right: 0;
  }

  #view-more-work-button {
    top: 1235px;
  }


/* ------------------ SECTION 4 QUERY ------------------ */
  #section-4-container {
    top: 3364px;

    height: 392px;
  }

  #testimonial-arrow-left {
    top: 220px;
    left: 40px;
  }

  #testimonial-body {
    top: 183.01px;

    width: 240px;
    margin: auto;
  }

  #testimonial-arrow-right {
    top: 220px;
    right: 40px;
  }

  #testimonial-client-container {
    top: 293px;
  }


/* ------------------ SECTION 5 QUERY ------------------ */
  #section-5-container {
    top: 3756px;

    width: 100%;
    height: 497px;
  }

  #client-list-lg {
    display: none;
  }


/* ------------------ SECTION 6 QUERY ------------------ */
  #section-6-container {
    width: 100%;

    display: none;
  }

  #section-6-container-accent {
    width: 100%;

    display: none;
  }


/* ------------------ SECTION 7 QUERY ------------------ */
  #section-7-container {
    width: 100%;

    display: none;
  }


/* ------------------ SECTION 8 QUERY ------------------ */
  #section-8-container {
    width: 100%;

    display: none;
  }

  #section-8-container-accent {
    width: 100%;

    display: none;
  }
}
