* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* -moz-user-select: none;
  user-select: none; */
  cursor: default;
}

body {
  background-color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.88);
}

a {
  text-decoration: none;

  color: inherit;

  cursor: inherit;
}

#what-we-do-shortcut {
  position: absolute;
  top: 680px;
}

.hidden {
  display: none;
}


/* -------------------------- SECTION 1 CONTAINER -------------------------- */
#section-1-background {
  position: absolute;
  left: 0;
  right: 0;

  margin: auto;
}

#navbar {
  position: absolute;
  z-index: 15;
  left: 0;
  right: 0;

  width: 1170px;
  height: 38px;
  margin: auto;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.0));
}

ul {
  list-style: none;
}

#navigation-menu {
  position: absolute;
  display: inline;
  z-index: 25;
  left: 0;

  width: 400px;
  height: 38px;
}

.nav-menu-item {
  position: absolute;
  z-index: 24;
  top: 10px;

  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

#menu-home {
  left: 30px;
}

#menu-what-we-do {
  left: 95px;
}

#menu-testimonial {
  left: 205px;
}

#menu-contact {
  left: 305px;
}

#selection-home {
  position: absolute;
  z-index: 16;
  left: 30px;

  width: 42px;
  height: 5px;

  background-color: #54d154;
}

#selection-what-we-do {
  position: absolute;
  z-index: 16;
  left: 95px;

  width: 90px;
  height: 5px;

  background-color: #54d154;
}

#selection-testimonial {
  position: absolute;
  z-index: 16;
  left: 205px;

  width: 80px;
  height: 5px;

  background-color: #54d154;
}

#selection-contact {
  position: absolute;
  z-index: 16;
  left: 305px;

  width: 78px;
  height: 5px;

  background-color: #54d154;
}

#switch-logo {
  position: absolute;
  z-index: 17;
  top: 8px;
  left: 0;
  right: 0;

  text-align: center;
  line-height: 1.2;
  font-family: "Nautilus Pompilius";
  font-size: 24px;
  color: rgb(255, 255, 255);
}

#searchbar {
  -webkit-appearance: none;

  position: absolute;
  z-index: 19;
  top: 5px;
  left: 963px;

  width: 177px;
  height: 27px;
  padding-left: 12px;
  padding-right: 30px;

  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(17, 17, 17);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540317166/nsm-art-landing/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 155px 6px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: text;
}

#section-1-header {
  position: absolute;
  z-index: 9;
  top: 266px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 55px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#section-1-button-header {
  -webkit-appearance: none;

  position: absolute;
  z-index: 11;
  top: 359px;
  left: 0;
  right: 0;

  width: 208px;
  height: 47px;
  margin: auto;

  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 22px;
  font-weight: lighter;
  color: rgb(255, 255, 255);

  background-color: #54d154;
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}

#section-1-button-scroll {
  -webkit-appearance: none;

  position: absolute;
  z-index: 8;
  top: 622px;
  left: 0;
  right:0;

  width: 120px;
  height: 25px;
  margin: auto;
  padding-left: 12px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(17, 17, 17);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540319535/nsm-art-landing/scroll-arrow.png");
  background-repeat: no-repeat;
  background-position: 100px 8px;
  background-color: rgba(255, 255, 255, 0.702);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 2 CONTAINER -------------------------- */
#section-2-container {
  position: absolute;
  z-index: 29;
  top: 659px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 577px;
  margin: auto;

  background-color: rgb(255, 255, 255);
}

#section-2-header {
  position: absolute;
  z-index: 31;
  top: 40.9px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 20.5pt;
  color: rgb(130, 129, 129);
}

#section-2-header-accent {
  position: absolute;
  z-index: 32;
  top: 81px;
  left: 0;
  right: 0;

  width: 43px;
  height: 2px;
  margin: auto;

  background-color: #828181;
}

#section-2-header-sub {
  position: absolute;
  z-index: 34;
  top: 93px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(183, 179, 179);
}

.section-2-thumbnail {
  position: absolute;
  top: 181px;
  z-index: 37;

  width: 142px;
  height: 142px;

  background-color: #e1f3e1;
  border-radius: 30px;
}

#section-2-thumbnail-left {
  left: 129px;
}

#section-2-thumbnail-mid {
  left: 0;
  right: 0;

  margin: auto;
}

#section-2-thumbnail-right {
  left: 889px;
}

.thumbnail-img {
  position: absolute;
  z-index: 38;
  top: 215px;

  width: 87px;
  height: 74px;
}

#thumbnail-left-camera {
  left: 157px;
}

#thumbnail-left-meter {
  left: 541px;
}

#thumbnail-left-toolbox {
  left: 915px;
}

.thumbnail-header {
  position: absolute;
  z-index: 36;
  top: 343.546px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: bold;
  color: rgb(130, 129, 129);
}

#thumbnail-left-header {
  left: 129.937px;
}

#thumbnail-mid-header {
  left: 509.937px;
}

#thumbnail-right-header {
  left: 888.937px;
}

.thumbnail-body {
  position: absolute;
  z-index: 39;
  top: 388.313px;

  width: 271px;
  height: 69px;

  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 15px;
  color: rgb(130, 129, 129);
}

#thumbnail-left-body {
  left: 57.612px;
}

#thumbnail-mid-body {
  left: 437.612px;
}

#thumbnail-right-body {
  left: 816.612px;
}

.thumbnail-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 41;
  top: 484px;

  width: 120px;
  height: 30px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: rgb(255, 255, 255);

  background-color: #54d154;
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}

#thumbnail-left-button {
  left: 138px;
}

#thumbnail-mid-button {
  left: 522px;
}

#thumbnail-right-button {
  left: 906px;
}


/* -------------------------- SECTION 3 CONTAINER -------------------------- */
#section-3-container {
  position: absolute;
  z-index: 67;
  top: 1236px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 748px;
  margin: auto;

  background-color: #54d154;
}

#section-3-header {
  position: absolute;
  z-index: 91;
  top: 40.9px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 20.5pt;
  color: #207b20;
}

#section-3-header-accent {
  position: absolute;
  z-index: 92;
  top: 81px;
  left: 0;
  right: 0;

  width: 43px;
  height: 2px;
  margin: auto;

  background-color: #207b20;
}

#section-3-header-sub {
  position: absolute;
  z-index: 94;
  top: 93px;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  line-height: 1.2;
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(43, 155, 43);
}

#section-3-menu {
  position: absolute;
  z-index: 101;
  top: 167px;
  left: 445px;

  width: 281px;
  height: 35px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(43, 155, 43);
  border-radius: 30px;

  cursor: pointer;
}

#work-menu-highlight-left {
  position: absolute;
  z-index: 102;
  top: 167px;
  left: 445px;

  width: 124px;
  height: 35px;

  background-color: rgb(43, 155, 43);
  border-radius: 30px 0px 0px 30px;

  cursor: pointer;
}

#work-menu-line-right {
  position: absolute;
  z-index: 103;
  top: 168px;
  left: 657px;

  width: 1px;
  height: 33px;

  background-color: rgb(43, 155, 43);
}

.work-menu-item {
  position: absolute;
  z-index: 104;
  top: 176.135px;

  text-align: center;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;

  cursor: pointer;
}

#work-menu-photography {
  left: 460.937px;

  color: rgb(255, 255, 255);
}

#work-menu-design {
  left: 588.937px;

  color: rgb(43, 155, 43);
}

#work-menu-print {
  left: 675.937px;

  color: rgb(43, 155, 43);
}

#view-more-work-button {
  -webkit-appearance: none;

  position: absolute;
  z-index: 96;
  top: 665px;
  left: 492px;

  width: 186px;
  height: 40px;
  padding-left: 20px;

  text-align: left;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 18px;
  color: rgb(255, 255, 255);

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1540351393/nsm-art-landing/view-more-work-arrow.png");
  background-repeat: no-repeat;
  background-position: 155px 16px;
  background-color: rgb(43, 155, 43);
  border: none;
  border-radius: 30px;
  outline: none;

  cursor: pointer;
}


/* -------------------------- SECTION 4 CONTAINER -------------------------- */
#section-4-container {
  position: absolute;
  z-index: 110;
  top: 1984px;
  left: 0;
  right: 0;

  width: 1170px;
  height: 342px;
  margin: auto;

  background-color: rgb(255, 255, 255);
}
